version: "3.8"

services:
  ln-manager:
    image: ghcr.io/reubensinha/ln-manager:latest
    container_name: ln-manager
    restart: unless-stopped

    ports:
      - "9583:9583"

    volumes:
      - ./ln-manager/config/backend/plugins/:/app/backend/plugins/
      - ./ln-manager/config/frontend/plugins/:/app/frontend/src/plugins/
      - ./ln-manager/config/static:/app/backend/static
      - ./ln-manager/config/backend/:/app/config/
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${PORT:-9583}/api/health || exit 1"]
      interval: 30m
      timeout: 3s
      retries: 3
      start_period: 10s